*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: none;
    
}
/* cabeçalho */

h1 {
    color: white;
    text-align: center;
}

/* input */

input, label{
    display: block;
    width: 100%;
}

input:focus, label:focus {
    outline: none;
}

#log {
    color: rgb(70, 142, 236);
}

#register-form {
    color: rgb(70, 142, 236);
}

body {
    padding-top: 5vh;
    background-color: rgb(70, 142, 236);
}

/* form */

#main-container {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 25px;
}

/* rodape */

footer {
    color: white;
    text-align: center;
}