*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #091921;
    font: normal 15pt Arial;
    height: 100vh;
    width: 100%;

}

nav {
    background: rgba(255, 255, 255, 0.05);
    display: block;
    height: 60px;
    width: 100%;
}

label.logo{
    color: #fff;
    font-size: 30px;
    line-height: 60px;
    padding: 0px 100px 0px 20px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
    color: #fff;
    font-size: 30px;
    line-height: 10px;
    padding: 5px;
    font-weight: bold;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 3px;
}

nav ul li a {
    color:#fff;
    font-size: 17px;
    padding: 3px 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

a.active, a:hover{
    background: rgba(255, 255, 255, 0.541);
    color:#14ff47;
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color:#14ff47;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding: 20px;
    }
    nav ul il a {
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn {
        display: block; 
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 20px 0px;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #14ff47;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

h1{
    color: white;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.initial-text{
    color: white;
    margin: 30px;
    padding: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h3 {
    color: white;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.middle-text {
    color: white;
    margin: 30px;
    padding: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h4 {
    color: white;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center; 
}

.final-text {
    color: white;
    margin: 30px;
    padding: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer{
    background: rgba(255, 255, 255, 0.05);
    bottom: 0;
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 12pt;
    color: white;
    font-style: italic;
}

p{
    margin: 20px;
}

.atalhos{
    margin: 20px;
}

i{    
    padding: 0 10px 0 10px;
    font-size: 25px;    
    color: #fff;
    cursor: pointer;
}


