*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: none;
    font-family: sans-serif;
}

body {
    background: #091921;
    font-size: 15pt;

}

header {
    padding: 85px 0 55px;
    color: #c5d2d4;
    text-align: center;
}

section {
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    overflow: hidden;
    z-index: 10;
    border-radius: 10px;
    padding: 25px;
    width: 350px;
    height: 255px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.363);
}


#bg {
    text-align: center;
}

#log {
    font-size: 18pt;
    padding: 20px;
    font-weight: bold;
    color:  #2aa6ee;
}

#email {
    padding: 3px;
}

input {
    color: white;
    background: #091921;
    padding: 0 0 0 5px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgba(28, 48, 56, 0.3);
}

div #senha {
    padding: 6px;
}

button {
    cursor: pointer;
    font: bolder 10pt Arial;
    width: 100px;
    height: 30px;
    margin: 15px;
    color: #2aa6ee;     
    border-radius: 5px;   
    border: 1px solid rgba(28, 48, 39, 0.932);
    background: #1e3d42;
    box-shadow: 4px 6px 9px rgba(0, 0, 0, 0.9);
    /*background-color: #091921;*/
}

#cadastro, #newAccount {
    margin-top: 20px;
    text-align: center;
    font-size: 10pt;
    color:  #c5d2d4;
}
footer{
    margin: 30px;
    background: #091921;
    bottom: 0;
    display: block;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 12pt;
    color: #c5d2d4;
    font-style: italic;
}

p{
    margin: 20px;
}

.atalhos{
    margin: 20px;
}

i{    
    padding: 0 10px 0 10px;
    font-size: 25px;    
    color: #c5d2d4;
    cursor: pointer;
}