*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: none;
}

body {
    background: #091921;
    font: normal 15pt Arial;

}

header {
    padding: 85px 0 55px;
    color: white;
    text-align: center;
}

section {
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    overflow: hidden;
    z-index: 10;
    border-radius: 10px;
    padding: 25px;
    width: 350px;
    height: 215px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.363);
}


#bg {
    text-align: center;
}

#log {
    font-size: 18pt;
    padding: 20px;
    font-weight: bold;
    color:  #fff;
}

#email {
    padding: 3px;
}

input {
    padding: 0 0 0 5px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: solid 1px #ccc7c7;
}

div #senha {
    padding: 6px;
}

button {
    cursor: pointer;
    font: normal 10pt Arial;
    width: 100px;
    height: 30px;
    margin: 10px;
    color: #ffffff;
    background-color: rgb(70, 142, 236);
    border: none;
    border-radius: 5px;
}

#cadastro, #newAccount {
    margin-top: 20px;
    text-align: center;
    font-size: 8pt;
    color:  #fff;
}

footer {
    padding: 30px;
    font-size: 12pt;
    color: white;
    text-align: center;
    font-style: italic;
}